.nested-div{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.alltime-container{
    display: grid;
    max-width: 80vw;
    height: 300px !important;
    grid-template-columns: repeat(3,1fr) ;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    /* border: 1px solid black; */
    padding: 6px;
    background: #FFFFFF;
box-shadow: 9px 0px 34px -23px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.round-chart{
    border-right: 1px solid #d8e3e7;
    height: 100%;
}
.line-chart{
    border-right: 1px solid #d8e3e7;
    height: 100%;
}
.device-usage-data{
    border-left: 1px solid #d8e3e7;
    height: 100%;
}
/* profile 30px */
@media only screen and (max-width: 700px) {
    html,body{
        width: 100%;
        height: 100%;
         background: #FFFFFF;
    }
    .nested-div{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
}
    .alltime-container{
        display: grid;
        grid-template-rows: repeat(5,260px);
        width: 300px;
        height: 100vh;
        grid-auto-flow: row;
        background: #FFFFFF;
box-shadow: 9px 0px 34px -23px rgba(0, 0, 0, 0.25);
border-radius: 5px;
    }
    .round-chart{
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .line-chart{
         background: #FFFFFF;
    }
    .device-usage-data{
 background: #FFFFFF;
    }
}