.alltime-container{
    display: grid;
    max-width: 800px;
    height: 250px;
    grid-template-columns: repeat(2,1fr) ;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    /* border: 1px solid black; */
    padding: 6px;
    background: #FFFFFF;
box-shadow: 9px 0px 34px -23px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.nested-div{
    display: grid;
    justify-content: center;
    align-items: center;
}

.device-usage-data{
    border-left: 1px solid #d8e3e7;
}